<nav class="nav-container">
  <ul class="nav-list">
    <li><img class="logo" src="./assets/imgs/angular.svg" alt="logo"></li>
    <li routerLinkActive="active"><a routerLink="/homepage">{{'nav.home' | translate}}</a></li>
    <li routerLinkActive="active"><a routerLink="/echarts">echarts</a></li>
    <li routerLinkActive="active"><a routerLink="/about">{{'nav.about' | translate}}</a></li>
  </ul>
  <div>
    <button type="button" class="language-button" mat-button (click)="useChinese()">中文</button>
    <button type="button" class="language-button" mat-button (click)="useEnglish()">English</button>
  </div>
</nav>
