<section class="ad-exception">
  <div class="img-block">
    <div class="img" [ngStyle]="{'background-image': 'url(' + _img + ')'}"></div>
  </div>
  <div class="cont">
    <h1 [innerHTML]="_title"></h1>
    <div class="desc" [innerHTML]="_desc"></div>
    <ng-template #defaultActions>
      <button nz-button [routerLink]="['/']" [nzType]="'primary'">返回首页</button>
      <ng-content></ng-content>
    </ng-template>
    <div class="actions" *ngIf="actions; else defaultActions">
      <ng-template [ngTemplateOutlet]="actions"></ng-template>
      <ng-content></ng-content>
    </div>
  </div>
</section>

