<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="postData()">LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>


<!--ng-zorro-antd-->
<p class="antd">antd组件：</p>
<nz-input-number class="antd" [(ngModel)]="demoValue" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
<!--ng-zorro-antd-->

<!--animation example-->
<button Mat-button class="animation-button" (click)="toggleState()">active animation</button>

<p [@flyIn]="animation" [@fadeIn]="animation">I'm animation</p>
<!--animation example-->

<!--test fontawesome-->
<div class="fontawesome">
  <i class="fa fa-american-sign-language-interpreting fa-5x" aria-hidden="true"></i>
  <span>I am fontawesome</span>
  <i class="fa fa-american-sign-language-interpreting fa-5x" aria-hidden="true"></i>
</div>
<!--test fontawesome-->

<!--test moment-->
<div id="moment">moment.js works ,it's {{time}} now</div>
<!--test moment-->
