body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
sumary {
  margin: 0;
  padding: 0;
}

//color
$white-normal:           #ffffff;

$blue-normal:            #00abff;
$blue-dark:              #00a3f5;
$blue-darkest:           #009ceb;

$nav-blue-normal:        #1898eb;
$nav-blue-dark:          #168cdb;
$nav-blue-darkest:       #1483cc;

$red-normal:             #ff5b55;
$red-dark:               #f55651;
$red-darkest:            #eb534d;

$green-normal:           #73cf22;
$green-dark:             #6cc41f;
$green-darkest:          #67ba1e;

$yellow-normal:          #f7c515;
$yellow-dark:            #edbe13;
$yellow-darkest:         #e3b612;

$font-gray-normal:       #4d5761;
$font-gray-light:        #7c868d;
$font-gray-lightest:     #c2c6c9;

$gray-grade-1:           #4d5761;
$gray-grade-2:           #7c868d;
$gray-grade-3:           #c2c6c9;
$gray-grade-4:           #dddddd;
$gray-grade-5:           #e6e6e6;
$gray-grade-6:           #eeeeee;
$gray-grade-7:           #f2f2f2;
$gray-grade-8:           #f8f8f8;
$gray-grade-9:           #fcfcfc;

$border-gray-1:          #f5f5f5;

//font-size
$font-size-normal:       14px;
$font-size-xl:           24px;
$font-size-lg:           18px;
$font-size-sm:           12px;
$button-height:          36px;
$button-width:           100px;
$button-height-min:      30px;
$button-border:          0;
$button-border-color:    1px solid #eeeeee;

@mixin font($font-size: $font-size-normal, $color:$font-gray-normal) {
  font-family: 'Hiragino Sans GB', 'Microsoft YaHei', 'Segoe UI', 'Arial', 'san-serif';
  font-weight: normal;
  font-size: $font-size;
  line-height: $font-size;
  color: $color;
}

@mixin icon-font($size) {
  width: $size;
  height: $size;
  line-height: $size;
  font-size: $size;
}
