$footer-bgcolor: #F8F8F8;
$footer-font-color-common: #00abff;

.footer{
  height: 60px;
  background: $footer-bgcolor;
  span{
    color: $footer-font-color-common;
    margin-right: 0.5em;
  }
  a{
    color: $footer-font-color-common;
  }
}

.navbar{
  margin: 0;
}

.power-by{
  text-align: center;
  margin: 20px auto;
  width: 450px;
}
